<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.invictusdesigns.xplorto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/to"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/to"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".restaurant_types.MiddleEastern" />
        <activity android:name=".restaurant_types.Sushi" />
        <activity android:name=".restaurant_types.French" />
        <activity android:name=".restaurant_types.Caribbean" />
        <activity android:name=".restaurant_types.Italian" />
        <activity android:name=".restaurant_types.Indian" />
        <activity android:name=".common_pages.IceCreamPage" />
        <activity android:name=".common_pages.FastFoodPage" />
        <activity android:name=".common_pages.BarPage" />
        <activity android:name=".common_pages.BakeryPage" />
        <activity android:name=".common_pages.RestaurantsPage" />
        <activity android:name=".common_pages.UserDashBoard" />
        <activity android:name=".common_pages.OnBoarding" />
        <activity android:name=".common_pages.SpashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>